In [7]:
import pandas as pd
import flask
from flask import request, jsonify

In [8]:
app = flask.Flask(__name__)
app.config["DEBUG"] = True

In [15]:
data_file = "../csv/merged_music_data.csv"
data_df = pd.read_csv(data_file)
data_df

,Unnamed: 0,SongTitle,Popularity,duration_ms,Artist,Year_x,Number,Year_y,Genre
0,0,Carve,6.0,126903.0,Uli,2/22/22,NaN,NaN,NaN
1,1,Lazy Boi,0.0,157333.0,Uli,2/22/22,NaN,NaN,NaN
2,2,Sketch,0.0,87040.0,Uli,2/22/22,NaN,NaN,NaN
3,3,L'enfer,0.0,40000.0,Uli,2/22/22,NaN,NaN,NaN
4,4,Graphite,0.0,104400.0,Uli,2/22/22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
115659,115659,NaN,NaN,NaN,L.L. Cool J,NaN,470.0,1985.0,Hip Hop
115660,115660,NaN,NaN,NaN,D'Angelo,NaN,481.0,2000.0,"Hip Hop, Funk / Soul"
115661,115661,NaN,NaN,NaN,Gang of Four,NaN,483.0,1979.0,Rock
115662,115662,NaN,NaN,NaN,Husker Du,NaN,488.0,1985.0,Rock
115663,115663,NaN,NaN,NaN,Eurythmics,NaN,492.0,1983.0,"Electronic, Pop"

In [16]:
@app.route('/', methods=['GET'])
def home():
    return '''<h1>Story Of Music</h1>
<p>A prototype API for displaying data</p>'''


# A route to return all of the available entries in our catalog.
@app.route('/api/v1/resources/books/all', methods=['GET'])
def api_all():
    return jsonify(books)

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with fsevents reloader

SystemExit: 1

/Users/alidaneshmand/bin/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)