In [1]:
import pandas as pd
import numpy as np

In [2]:
USA_Music_csv = "csv/US.csv"
albumList_csv = "csv/albumlist.csv"

In [3]:
usa_df = pd.read_csv(USA_Music_csv)
albumList_df = pd.read_csv(albumList_csv, encoding='UTF-8')

In [4]:
#albumList_df
usa_df.rename(columns = {'artists':'Artist'}, inplace = True)
usa_df.rename(columns = {'release_date':'Year'}, inplace = True)
usa_df.rename(columns = {'popularity':'Popularity'}, inplace = True)
usa_df.rename(columns = {'name':'SongTitle'}, inplace = True)

In [5]:
usa_df
#albumList_df

,id,SongTitle,Popularity,duration_ms,explicit,Artist,id_artists,Year,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,35iwgR4jXetI318WEWsa1Q,Carve,6,126903,0,['Uli'],['45tIt06XoI0Iio4LBEVpls'],1922-02-22,0.645,0.4450,0,-13.338,1,0.4510,0.67400,0.744000,0.1510,0.127,104.851,3
1,021ht4sdgPcrDgSk7JTbKY,Capítulo 2.16 - Banquero Anarquista,0,98200,0,['Fernando Pessoa'],['14jtPCOoNZwquk5wd9DxrY'],1922-06-01,0.695,0.2630,0,-22.136,1,0.9570,0.79700,0.000000,0.1480,0.655,102.009,1
2,07A5yehtSnoedViJAZkNnc,Vivo para Quererte - Remasterizado,0,181640,0,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21,0.434,0.1770,1,-21.180,1,0.0512,0.99400,0.021800,0.2120,0.457,130.418,5
3,08FmqUhxtyLTn6pAh6bk45,El Prisionero - Remasterizado,0,176907,0,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21,0.321,0.0946,7,-27.961,1,0.0504,0.99500,0.918000,0.1040,0.397,169.980,3
4,08y9GfoqCWfOGsKdwojr5e,Lady of the Evening,0,163080,0,['Dick Haymes'],['3BiJGZsyX9sJchTqcSA7Su'],1922,0.402,0.1580,3,-16.900,0,0.0390,0.98900,0.130000,0.3110,0.196,103.220,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93130,49lrrlWBTkVEIuHkjnf7tI,Easter In Miami,64,187097,1,['Kodak Black'],['46SHBwWsqBkxI7EeeBEQG7'],2021-04-04,0.746,0.8290,7,-5.124,0,0.3230,0.10500,0.000000,0.1450,0.681,93.006,4
93131,1rICTKr67UUnoDVvOj4A8c,Thugged Out (feat. Kodak Black),71,185992,1,"['YNW Melly', 'Kodak Black']","['1cNDP5yjU5vjeR8qMf4grg', '46SHBwWsqBkxI7EeeB...",2021-03-05,0.720,0.5970,1,-6.501,1,0.2170,0.17100,0.000000,0.1700,0.367,150.138,4
93132,2ZehPPTmn6QxlI1KedHo51,Créeme,2,214293,0,"['KAROL G', 'Maluma']","['790FomKkXshlbRYZFtlgla', '1r4hJ1h58CWwUQe3Mx...",2021-04-09,0.714,0.8740,6,-3.576,1,0.0549,0.12800,0.000146,0.1050,0.648,96.998,4
93133,3AmUf8oWdnPwVQcVugz6R5,Punto G,4,183160,0,['KAROL G'],['790FomKkXshlbRYZFtlgla'],2021-04-02,0.791,0.7460,6,-4.716,1,0.0907,0.00938,0.000125,0.1250,0.903,165.994,4
93134,3O2JLGDWDMqtVqPnzYleEu,La Vida Continuó,3,167253,0,"['KAROL G', 'Simone & Simaria']","['790FomKkXshlbRYZFtlgla', '0MInKJqZscEeNc5K3K...",2021-04-09,0.808,0.8340,6,-3.141,0,0.1830,0.28100,0.000000,0.0321,0.761,153.950,4

In [6]:
smaller_usa_df = usa_df.drop(columns=['id', 'explicit', 'id_artists', 'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo', 'time_signature'])
smaller_usa_df

,SongTitle,Popularity,duration_ms,Artist,Year
0,Carve,6,126903,['Uli'],1922-02-22
1,Capítulo 2.16 - Banquero Anarquista,0,98200,['Fernando Pessoa'],1922-06-01
2,Vivo para Quererte - Remasterizado,0,181640,['Ignacio Corsini'],1922-03-21
3,El Prisionero - Remasterizado,0,176907,['Ignacio Corsini'],1922-03-21
4,Lady of the Evening,0,163080,['Dick Haymes'],1922
...,...,...,...,...,...
93130,Easter In Miami,64,187097,['Kodak Black'],2021-04-04
93131,Thugged Out (feat. Kodak Black),71,185992,"['YNW Melly', 'Kodak Black']",2021-03-05
93132,Créeme,2,214293,"['KAROL G', 'Maluma']",2021-04-09
93133,Punto G,4,183160,['KAROL G'],2021-04-02
93134,La Vida Continuó,3,167253,"['KAROL G', 'Simone & Simaria']",2021-04-09

In [7]:
smaller_usa_df['Artist'] = smaller_usa_df['Artist'].map(lambda x: x.lstrip('[\'').rstrip('aAbBcC'))
smaller_usa_df['Artist'] = smaller_usa_df['Artist'].map(lambda y: str(y)[:-2])

smaller_usa_df['Year'] = smaller_usa_df['Year'].map(lambda z: str(z)[:-6])

smaller_usa_df

,SongTitle,Popularity,duration_ms,Artist,Year
0,Carve,6,126903,Uli,1922
1,Capítulo 2.16 - Banquero Anarquista,0,98200,Fernando Pessoa,1922
2,Vivo para Quererte - Remasterizado,0,181640,Ignacio Corsini,1922
3,El Prisionero - Remasterizado,0,176907,Ignacio Corsini,1922
4,Lady of the Evening,0,163080,Dick Haymes,
...,...,...,...,...,...
93130,Easter In Miami,64,187097,Kodak Black,2021
93131,Thugged Out (feat. Kodak Black),71,185992,"YNW Melly', 'Kodak Black",2021
93132,Créeme,2,214293,"KAROL G', 'Maluma",2021
93133,Punto G,4,183160,KAROL G,2021
93134,La Vida Continuó,3,167253,"KAROL G', 'Simone & Simaria",2021

In [8]:
#albumList_df
modified_albumList_df = albumList_df.drop(columns=['Album', 'Subgenre'])
modified_albumList_df

     Number  Year             Artist      Genre
0         1  1967        The Beatles       Rock
1         2  1966     The Beach Boys       Rock
2         3  1966        The Beatles       Rock
3         4  1965          Bob Dylan       Rock
4         5  1965        The Beatles  Rock, Pop
..      ...   ...                ...        ...
495     496  1969         Boz Scaggs       Rock
496     497  2001  The White Stripes       Rock
497     498  1989    The Stone Roses       Rock
498     499  1971          B.B. King      Blues
499     500  1998            OutKast    Hip Hop

[500 rows x 4 columns]

In [9]:
#smaller_usa_df & modified_albumList_df
#pd.to_numeric(smaller_usa_df['Year']).astype(int)

smaller_usa_df['Year'] = smaller_usa_df['Year'].fillna(0)
#smaller_usa_df.value_counts()
modified_albumList_df['Year'] = modified_albumList_df['Year'].fillna(0)

smaller_usa_df['Year'] = pd.to_numeric(smaller_usa_df['Year'], errors="coerce")
#smaller_usa_df
modified_albumList_df['Year'] = pd.to_numeric(modified_albumList_df['Year'], errors="coerce")
modified_albumList_df

     Number  Year             Artist      Genre
0         1  1967        The Beatles       Rock
1         2  1966     The Beach Boys       Rock
2         3  1966        The Beatles       Rock
3         4  1965          Bob Dylan       Rock
4         5  1965        The Beatles  Rock, Pop
..      ...   ...                ...        ...
495     496  1969         Boz Scaggs       Rock
496     497  2001  The White Stripes       Rock
497     498  1989    The Stone Roses       Rock
498     499  1971          B.B. King      Blues
499     500  1998            OutKast    Hip Hop

[500 rows x 4 columns]

In [10]:
merged_music_df = pd.merge(smaller_usa_df, modified_albumList_df)
merged_music_df['Year'] = merged_music_df['Year'].astype(int)

merged_music_df

,SongTitle,Popularity,duration_ms,Artist,Year,Number,Genre
0,Blue Suede Shoes,63,119200,Elvis Presley,1956,56,Rock
1,Blue Moon - Take 9/M,54,162213,Elvis Presley,1956,56,Rock
2,I Got a Woman,50,144213,Elvis Presley,1956,56,Rock
3,Tutti Frutti,52,117560,Elvis Presley,1956,56,Rock
4,Love Me,46,163787,Elvis Presley,1956,56,Rock
...,...,...,...,...,...,...,...
4055,POWER,79,292093,Kanye West,2010,353,Hip Hop
4056,All Of The Lights,77,299613,Kanye West,2010,353,Hip Hop
4057,Dark Fantasy,69,280787,Kanye West,2010,353,Hip Hop
4058,Hell Of A Life,62,327787,Kanye West,2010,353,Hip Hop
4059,All Of The Lights (Interlude),61,62253,Kanye West,2010,353,Hip Hop

In [11]:
#data['amount']=data['amount'].replace(0, np.nan)
#merged_music_df = merged_music_df.replace(0, pd.np.nan).dropna(axis=0, how='any', subset=columns).fillna(0)
merged_music_df['Year'] = merged_music_df['Year'].replace(0, np.nan)
merged_music_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4060 entries, 0 to 4059
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SongTitle    4060 non-null   object
 1   Popularity   4060 non-null   int64
 2   duration_ms  4060 non-null   int64
 3   Artist       4060 non-null   object
 4   Year         4060 non-null   int32
 5   Number       4060 non-null   int64
 6   Genre        4060 non-null   object
dtypes: int32(1), int64(3), object(3)
memory usage: 237.9+ KB

In [12]:
merged_music_df.to_csv('csv/merged_music_data.csv')

In [13]:
from sqlalchemy import create_engine
from config import postgres_username, postgres_password

In [14]:
engine = create_engine(f"postgresql://{postgres_username}:{postgres_password}@localhost:5432/StoryOfMusic")

In [15]:
merged_music_df.to_sql('merged_music', con=engine, index=False, if_exists="append")